#resposta div {
  background-color: #666;
  width: fit-content;
}

#resposta div span {
  width: 18px;
  display: inline-block;
}

#resposta div:nth-child(odd) {
  background-color: #baa;
}

.caixa {
  margin: 5px;
  padding: 5px;
}
